name: Deploy Laravel

on:
  push:
    branches: [ main ] # Asegúrate de que tu rama se llame main o cambia esto a master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd www/
            # Si es la primera vez, podrías necesitar clonar. 
            # Si ya está allí, usamos pull:
            [ -d ".git" ] && git pull origin main || git clone https://github.com/${{ github.repository }}.git .
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
